{% extends 'base.html' %}


{% block head %}

{% endblock %}

{% block body %}



    <form action='/' method="POST">
        <div class="col-lg-4 offset-lg-3">

            <label for="age" class="justify-contet">Age</label><br>
            <input type="text" class="form-control" id="age" name="age" required><br>

            <label for="budget">Budget: </label><br>
            <input type="number" class="form-control" id="budget" name="budget" required><br>

            <label for="departCity">Departing City: </label><br>
            <input type="text" class="form-control" id="departCity" name="departCity" required><br>

            <label for="departDate">Departure Date: </label><br>
            <input type="date" class="form-control" id="departDate" name="departDate" required><br>

            <label for="tripLength">Trip Length (Days): </label><br>
            <input type="number" class="form-control" id="tripLength" name="tripLength"required><br>
        </div>

        
        <div class="col-lg-4 offset-lg-3">
                <div class = "form-check">
                    <input type="checkbox" class="form-check-input" id="hiking" value="" name="hiking">
                    <label for="hiking" class="form-check-label">hiking</label>
                </div>
            
                <div class = "form-check">
                    <input type="checkbox" class="form-check-input" id="restaurants" value="" name="restaurants">
                    <label for="restaurants" class="form-check-label">restaurants</label>
                </div>

                <div class = "form-check">
                    <input type="checkbox" class="form-check-input" id="museums" value="" name="museums">
                    <label for="museums" class="form-check-label">museums</label>
                </div>

                <div class = "form-check">
                    <input type="checkbox" class="form-check-input" id="music" value="" name="music">
                    <label for="music" class="form-check-label">music</label>
                </div>

            <input type="submit" value="Submit">
        </div>
        </div>

    </form>


{% endblock %}