{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

{% for city in data["cities"] %}
<div class="city" id="city">

    <div id = "cityName" class="title">
         <p>{{ city }}</p>
    </div>
   
    <div id = "flights" class="info">
        <p>Flight information</p>
        <ol>
                <li>{{  data["flights"][city][0] }}</li>
                <li>{{  data["flights"][city][1] }}</li>
        </ol>
    </div>

    <div id = "hotels" class="info">
        <p>Hotel information</p>
        <ol>
                <li>{{  data["hotels"][city][0] }}</li>
                <li>{{  data["hotels"][city][1] }}</li>
        </ol>
       
    </div>
        <div id = "restaurant" class="info">
        <p>Restaurant information</p>
        <ol>
            <li>{{  data["restaurant"][city][0] }}</li>
            <li>{{  data["restaurant"][city][1] }}</li>
        </ol>
    </div>

    <div id = "stats" class="info">
        <p>Statistics</p>
        <ol>
            <li>{{  data["stats"][0] }}</li>
            <li>{{  data["stats"][1] }}</li>
        </ol>
    </div>

</div>

{% endfor %}

{% endblock %}